<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <%- include('header') %>

    <div class="homepage-container">
        <h2 style="margin-bottom:1rem">Oops ! No trains available...</h2>
        <a href="/homepage"><button class="btn">Home</button></a>
    </div>

  </body>
</html>
