<header class='header'>
    <div class="logoDiv">
      <img src="/images/train.png" alt="">
      <a href="/homepage">Ticketac</a>
    </div>
    <nav class='nav'>
      <% if (!isConnectionPage) { %>
      <a href="journeys/last-trips">My Last Trips</a>
      <a href="/users/logout">Log out</a>
      <% } %>
      
    </nav>
  </header>