<header class='header'>
    <div class="logoDiv">
      <img src="images/train.png" alt="">
      <a href="/">Ticketac</a>
    </div>
    <nav class='nav'>
      <a href="/">Connection</a>
      <a href="/trips">My Last Trips</a>
    </nav>
  </header>