<header class='header'>
    <div class="logoDiv">
      <img src="/images/ufo.png" alt="">
      <a href="/homepage">Ticketac</a>
    </div>
    <nav class='nav'>
      <% if (!isConnectionPage) { %>
      <a href="/users/logout">Log out</a>
      <% if (isJourneyRoute) { %>
        <a href="./last-trips">My Last Trips</a>
      <% } else { %>
        <a href="/journeys/last-trips">My Last Trips</a>
      <% } %>
      <% } %>


      
    </nav>
  </header>