<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% isConnectionPage = false %>
    <%- include('header') %>

    <div class="homepage-container">
        <h2>One-way ticket :</h2>
        <form action="/journeys" method='POST' class="inline-form">
            <div class="form-field">
                <input type="text" name='from' placeholder="From: Earth, Mars..." required>
            </div>
            <div class="form-field">
                <input type="text" name='to' placeholder="To: Jupiter, Saturn..." required>
            </div>
            <div class="form-field">
                <input type="date" name="date" value="2018-11-19" min="2018-01-01" max="2018-11-31">
            </div>
            <!-- <input type="submit" class='btn' value="Go"> -->
            <button class='btn'>GO <i class="fas fa-space-shuttle"></i></button>
        </form>
        <img src="images/landmark.png" alt="">
    </div>
  </body>
</html>
