<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <%- include('header') %>

    <div class="homepage-container">
        <h2>One-way ticket :</h2>
        <form action="/trains" method='POST' class="inline-form">
            <div class="form-field">
                <input type="text" name='from' placeholder="From: Paris, Marseille..." required>
            </div>
            <div class="form-field">
                <input type="text" name='to' placeholder="To: Toulon, Nantes..." required>
            </div>
            <div class="form-field">
                <input type="date" name="date" value="2018-11-19" min="2018-01-01" max="2018-11-31">
            </div>
            <input type="submit" class='btn' value="Go">
        </form>
        <img src="images/landmark.png" alt="">
    </div>
  </body>
</html>
