<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('header') %>

    <div class="forms-container">
      <div class="login-form">
        <form action="/sign-in" method="POST">
          <h2>Sign-in</h2>
          <div class="form-field">
            <input type="text" name='email' placeholder="email" required>
          </div>
          
          <div class="form-field">
              <input type="password" name='password' placeholder="password" required>
          </div>
        
        <input type="submit" class='btn' value="Login">
        </form>
      </div>

      <div class="signup-form">
        <form action="/sign-up" method="POST">
          <h2>Sign-up</h2>
          <div class="form-field">
            <input type="text" name='name' placeholder="Name" required>
          </div>
          <div class="form-field">
            <input type="text" name='firstname' placeholder="First name" required>
          </div>

          <div class="form-field">
            <input type="text" name='email' placeholder="email" required>
          </div>

          <div class="form-field">
              <input type="password" name='password' placeholder="password" required>
          </div>
        
        <input type="submit" class='btn' value="Confirm">
        </form>
      </div>
    </div>
  </body>
</html>
