@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*  GENERAL RULES */
body {
  font-family: 'Roboto', sans-serif;
  background: #aad1f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#aad1f5), to(#2687e0));
  background: linear-gradient(180deg, #aad1f5 0%, #2687e0 100%);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* HEADER */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cecece;
  width: 100vw;
  padding: 1rem 2rem;
  color: #000;
}

.header .logoDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.header .logoDiv img {
  height: 35px;
  width: 35px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.header .nav a {
  color: #000;
}

.header .nav a:hover {
  color: #bb0303;
}

/* LOGIN PAGE */
.forms-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20vh;
  height: 80vh;
  gap: 3rem;
}

h2 {
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup-form form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.login-form form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

input[type='text'], input[type='password'], input[type='date'] {
  text-decoration: none;
  border: 0;
  border: solid 1px #ccc;
  border-radius: 5px;
  width: 100%;
  outline: none;
  padding: 0.5rem;
}

input[type='date'] {
  padding: 0.4rem;
}

input:focus,
input:valid {
  outline: 0;
  border: red;
}

.btn {
  padding: 0.5rem 0.75rem;
  background-color: red;
  border: 0;
  color: white;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn:hover {
  background-color: #b30606;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

/* HOMEPAGE */
.homepage-container {
  margin-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage-container form {
  gap: 0.75rem;
  margin-top: 1rem;
}

.homepage-container img {
  height: 240px;
  max-height: 40vh;
  margin-top: 5rem;
}

.homepage-container table {
  width: 90vw;
  max-width: 900px;
  border: solid 1px #ccc;
  background-color: #fff;
}

.homepage-container table tr.total-row {
  background-color: red;
}

.homepage-container table td {
  text-align: center;
}

/* TRAINS PAGE */
.trips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.75rem;
  gap: 0.5rem;
}

.trip-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 80vw;
  max-width: 600px;
  border: solid 1px #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
}

.trip-field .price {
  -ms-grid-column-align: end;
      justify-self: end;
}
/*# sourceMappingURL=style.css.map */